


.hello{
  position: relative;
  height: 100%;
  width:10%
}
.jani{
  position: relative;
  height: 100%;
  width:10%
}
.cost{
  position: relative;
  height: 100%;
  width:10%
}
.property{
  position: relative;
  height: 100%;
  width:10%
}

.btn{
  position: relative;
right: 10px;
/* top: 60px; */
  
  height: 100%;
  width:30%
  
}
.select{
  position: relative;
  
  height: 70%;
  width:70%
  
}
